@import '../../fonts/style.css';

.Home {
    overflow: hidden;
    position: relative;
}

.Home video {
    position: absolute;
    width: 160vw;
    /* max-width: 2500px; */
    /* max-height: 160vh; */
    height: 160vh;
    right: -54vw;
    top: -60vh;
}

.Home-Container {
    position: sticky;
    padding-left: calc(2rem + 24px + 16px); /* wtf is this */
    padding-top: 54vh; 
}

.Purple-Subtitle {
    font-family: 'PPPangramSans-Medium';
    text-transform: uppercase;
    color: #6148F3;
    font-size: 16px;
}

#Home-Job-Title {
    font-size: 80px;
    font-family: 'PPPangramSans-Semibold';
    color: #D5D0CA;
}

#Home-About-Description {
    font-family: 'PPPangramSans-Regular';
    color: #D5D0CA;
    font-size: 16px;
}

#Home-Link-Get-In-Touch {
    padding-top: 100px;
}

.Home-Container a {
    text-decoration: none;
}