@import '../../fonts/style.css';

.Home {
    overflow: hidden;
    position: relative;
}

.Home video {
    position: absolute;
    width: 160vw;
    height: 160vh;
    right: -54vw;
    top: -60vh;
}

.Home-Container {
    position: sticky;
    padding-left: var(--brand-border); /* wtf is this */
    padding-top: 54vh; 
}

.Purple-Subtitle {
    font-family: 'PPPangramSans-Medium';
    text-transform: uppercase;
    color: var(--brand-purple);
    font-size: 16px;
}

#Home-Job-Title {
    font-size: 80px;
    font-family: 'PPPangramSans-Semibold';
    color: var(--brand-white);
}

#Home-About-Description {
    font-family: 'PPPangramSans-Regular';
    color: var(--brand-white);
    font-size: 16px;
}

#Home-Link-Get-In-Touch {
    padding-top: 100px;
}

.Home-Container a {
    text-decoration: none;
}