:root {
    --stats-column-height: 89.4vh;
    
}

.Column {
    display: inline-block;
    width: calc(100vw/5);
    height: var(--stats-column-height);
    /* border: 1px solid black; */
}

.Column p {
    text-align: center;
}

.Column:nth-child(1) {
    background-color: red;
}

.Column:nth-child(2) {
    background-color: orange;
}

.Column:nth-child(3) {
    background-color: yellow;
}

.Column:nth-child(4) {
    background-color: green;
}

.Column:nth-child(5) {
    background-color: blue;
}