@import '../../fonts/style.css';

#Nav-Bar-Logo-Name {
    font-family: 'PPPangramSans-Bold';
    color: #D5D0CA;
    font-size: 30px;
}

#Nav-Bar-Link {
    font-family: 'PPPangramSans-Bold';
    color: #D5D0CA;
    font-size: 12px;
    background-color: #141414;
}

#Nav-Bar-Link-Login {
    font-family: 'PPPangramSans-Bold';
    color: #141414;
    font-size: 12px;
    background-color: #D5D0CA;
}

#Nav-Bar-Link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

#Nav-Bar-Link-Login:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}