#Nav-Bar-Logo-Name {
    font-family: 'PPPangramSans-Bold';
    color: var(--brand-white);
    font-size: 30px;
}

#Nav-Bar-Link {
    font-family: 'PPPangramSans-Bold';
    color: var(--brand-white);
    font-size: 12px;
    background-color: var(--brand-grey);
}

#Nav-Bar-Link-Login {
    font-family: 'PPPangramSans-Bold';
    color: var(--brand-grey);
    font-size: 12px;
    background-color: var(--brand-white);
}

#Nav-Bar-Link-Login:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.Nav-Bar-Link-Wrapper a {
    text-decoration: none;
}