.Experience-Wrapper {
    margin-top: 10vh;
    padding-top: 10vh;
    height: 100vh;
    width: 100vw;
    background-color: var(--brand-grey);
    padding-left: var(--brand-border); /* gonna need to do a css passover */
    padding-right: var(--brand-border);
    border-top: 1px solid var(--brand-white);
}

.Experience-Half {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#Experience-Title {
    font-size: 3.25vw;
    font-family: 'PPPangramSans-Semibold';
    color: var(--brand-white);
}

.Experience-Box {
    display: inline-block;
    border: 1px solid #74726F;
    width: 46%;
    margin: 2%;
    padding: 1vw;
}

/* Remove duplicated styles */
#Experience-Box-Figure {
    font-size: 4vw;
    font-family: 'PPPangramSans-Semibold';
    color: var(--brand-white);
}

#Experience-Box-Figure-Desc {
    font-size: 1.3vw;
    font-family: 'PPPangramSans-Semibold';
    color: var(--brand-white);
    margin-top: 50%;
}
